# Node.js
node_modules/
npm-debug.log

# Entorno
.env

# Directorios de construcción
dist/
build/

# Archivos de configuración del editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Cobertura de pruebas
coverage/

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración específicos del proyecto
postcss.config.js
tailwind.config.js
webpack.config.js